<!doctype html>
<html>
	<head>
		<title>Singlo :: God</title>
		<meta charset="utf-8">

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
	</head>
{% block body %}
	<body class="home">
{% endblock %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Singlo</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="nav-home"> <a href="/">Home</a> </li>
							<li class="nav-teacher"> <a href="/teacher/">Teacher</a> </li>
							<li class="nav-user"> <a href="/user/">User</a> </li>
							<li class="nav-order"> <a href="/order/">Order</a> </li>
							<li class="nav-event"> <a href="/event/">Event</a> </li>
							<li class="nav-notice"> <a href="/notice/">Notice</a> </li>
							<li class="nav-qna"> <a href="/qna/">Q&A</a> </li>
							<li class=""> <a href="/logout">Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{% block main %} {% endblock %}
		</div>

	</body>
</html>

