{% extends "base.html" %}

{% block body %}
<body class="order">
{% endblock %}

{% block main %}
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>User</th>
				<th>Teacher</th>
				<th>Status</th>
				<th>Created</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for lesson in lessons %} 
			<tr>
				<td>{{ lesson.0.id }}</td>
				<td>{{ lesson.0.user.name|decode }}</td>
				<td>{% if lesson.1 %}{{ lesson.1.name|decode }}{% endif %}</td>
				<td>{% if lesson.0.status %}Complete{% else %}Not Yet{% endif %}</th>
				<td>{{ lesson.0.created_datetime }}</td>
				<td>
					<a href="/lesson/modify/{{ lesson.id }}">수정</a><br>
					<a href="/lesson/remove/{{ lesson.id }}">삭제</a><br>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
