{% extends "base.html" %}

{% block body %}
	<body class="user">
{% endblock %}

{% block main %}
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Birthday</th>
				<th>Phone</th>
				<th>Golf Ball</th>
				<th>Last Login</th>
				<th>Lesson Count</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users  %} 
			<tr>
				<td>{{ user.0.id }}</td>
				<td>{{ user.0.name|decode }}</td>
				<td>{{ user.0.birthday|decode }}</td>
				<td>{{ user.0.phone|decode }}</td>
				<td>{{ user.0.point }}</td>
				<td>{{ user.0.lastlogin_datetime }}</td>
				<td>{{ user.1 }}(O: {{ user.2 }}, X: {{ user.1 - user.2 }})</td>
				<td>
					<a href="/user/modify/{{ user.0.id }}">수정</a>
					<a href="/user/remove/{{ user.0.id }}">삭제</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
